.mainMap{
    background-color: var(--colorRosaFuerte);
}
.mainMap marquee{
    padding: 1px;
    color: white;
    margin:0px;
    background: var(--colorDorado);

}
.imgJoyeria{
    margin: 0px 5px;
}
.h4Map{
    text-align: center;
    margin: 10px;
}
.h5Map{
    text-align: center;
    margin: 5px;
}
.logo-card{
    display: none;
}
.imgJoyeria2{
    display: none;
}

.boxInfoMap{
    display: flex;
    flex-direction: column;
}
.boxInfoMap p{
    margin: 2px;
}
.direccionMap{
    margin: 15px;
    text-align: center;
}
.contactMap{
    margin: 10px;
    text-align: center;
    margin-bottom: 15px;
}
.map-responsivo{
    overflow: hidden;
    padding-bottom: 35%;
    position: relative;
}
.map-responsivo iframe{
    
    height: 100%;
    width: 100%;
    position: absolute;
}
@media (min-width: 768px) {
    .imgJoyeria{
        width: 100%;
        margin: 0px -170px -10px 0px;
    }
    .tituloMap{
        width: 100%;
    }
    .h4Map{
        font-size: 30px;
    }
    .h5Map{
        font-size: 20px;
    }
    
    
}
@media (min-width: 1024px){
    .boxImg{
        margin-top: -7px;
        display: flex;
        align-items: center;
    }
    .boxFrase{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    

    .logoFind{
        
        width: 100%;
    }
    #rotate {
        animation: rotation 8s infinite linear;
      }
      
      @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotatey(360deg);
        }
      }
      
    

    .logo-card {
        position: relative;
        width: 29vh;
        height: 29vh;
        
        text-align: center;
        display: grid;
        place-content: center;
        padding: 10px;
        background-size: cover;
        border-width: 1.5px;
        border-color: var(--colorRosaFuerte);
        z-index: 1;
        overflow: hidden;
        margin: 0.5vw;
    }
    .logo-card::before,
    .logo-card::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: calc(60% + 35px);
        background-color: var(--colorRosaClaro);
        transition: transform .5s.25s ease-in;
        z-index: -1;
    }
    
    .logo-card::before {
        top: 0;
        clip-path:
        polygon(0 0, 100% 0, 100% 45%, 0% 100%);
        transform: translateY(-100%);
    }

    .logo-card::after {
        bottom: 0;
       clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
        transform: translateY(100%);
    }
    .logo-card:hover::before,
    .logo-card:hover::after {
        transform: translateY(0);
    }

    .logo-card:hover .box-card__content {
        opacity: 1;
        transition-delay: .75s;
    }
    .frase{
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        margin-top: 19px;
        align-items: center;
    }
    .boxInfoMap{
        margin: 5px 0px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center
  }
    .direccionMap {
        margin: 8% 0px;
        text-align: center;
        width: 100%;
    }
    .boxInfoMap p{
        font-size: 20px;
        margin: 5px;
    }
    .contactMap{
        margin: 0px;
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
    }
    .imgJoyeria2{
        display: inline;
        margin-bottom: -11px;
    }
    
    
}