.mainMap{
    background-color: var(--colorRosaFuerte);
}
.mainMap marquee{
    padding: 1px;
    color: white;
    margin:0px;
    background: var(--colorDorado);

}
.video-store{
    width: 320px;
    margin-top: -7px;
}
.imgJoyeria2{
    display: none;
}

.h4Map{
    text-align: center;
    margin: 10px;
}
.h5Map{
    text-align: center;
    margin: 5px;
}
.logo-card{
    display: none;
}

.boxInfoMap{
    display: flex;
    flex-direction: column;
}
.boxInfoMap p{
    margin: 2px;
}
.direccionMap{
    margin: 15px;
    text-align: center;
}
.contactMap{
    margin: 10px;
    text-align: center;
    margin-bottom: 15px;
}
.map-responsivo{
    overflow: hidden;
    padding-bottom: 35%;
    position: relative;
}
.map-responsivo iframe{
    
    height: 100%;
    width: 100%;
    position: absolute;
}
@media (min-width:365px) {
    .video-store {
        width: 375px; 
        }
    
}
@media (min-width:425px) {
    .video-store {
        width: 425px; 
        }
    
}
@media (min-width: 768px) {
    .tituloMap{
        width: 100%;
    }
    .h4Map{
        font-size: 30px;
    }
    .h5Map{
        font-size: 20px;
    }
    
    .video-store{
        height: 331px;
        width: 768px;
        object-fit: cover;
    }
}
@media (min-width: 1024px){
    .boxImg{
        margin-top: -7px;
        display: flex;
        align-items: center;
    }
    .boxFrase{
        display: flex;
        
        align-items: center;
    }
    .box-video{
        margin-top: 86px;
        position: absolute;
    }
    
    .video-store{
        margin-top: -80px;
        height: 329px;
        width: 175%;
        object-fit: cover;
    }
    
    .logoFind{
        
        width: 100%;
    }
    .logoFind p{
        font-size: 30px;
    }
    #rotate {
        animation: rotation 8s infinite linear;
      }
      
      @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotatey(360deg);
        }
      }
      
    

    .logo-card {
        position: relative;
        width: 1024px;
        height: 331px;
        text-align: center;
        display: flex;
        background-size: cover;
        border-color: var(--colorRosaFuerte);
        z-index: 1;
        overflow: hidden;
        align-items: center;
    }
   
    .logo-card::before,
    .logo-card::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: calc(60% + 35px);
        background-color: var(--colorRosaClaro);
        transition: transform .5s.25s ease-in;
        z-index: -1;
    }
    
    .logo-card::before {
        top: 0;
        clip-path:
        polygon(0 0, 100% 0, 100% 45%, 0% 100%);
        transform: translateY(-100%);
    }

    .logo-card::after {
        bottom: 0;
       clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
        transform: translateY(100%);
    }
    .logo-card:hover::before,
    .logo-card:hover::after {
        transform: translateY(0);
    }

    .logo-card:hover .box-card__content {
        opacity: 1;
        transition-delay: .75s;
    }
    .logoFind {
        color: var(--colorDorado);
        margin-bottom: 15px;
    }
    #animacion{padding:0;
        margin:0 auto;
        height: 364px;
        width: 960px;}
     
    #animacion img{ position:absolute;
        top: 0;
        transition: all 1s ease-in-out;}
     
    #animacion img.novisible{
        width: 502px;
        opacity: 0;
        height: 520px;
    }
       
     
    #animacion:hover img.novisible{
        opacity:1;
        filter:alpha(opacity=100);}
     
    #animacion:hover img.visible {
        opacity:0;
        filter:alpha(opacity=0);}
     
    #animacion img.visible:hover {
        opacity:0;
        filter:alpha(opacity=0);}
    .frase{
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        margin-top: 19px;
        align-items: center;
    }
    .boxInfoMap{
        
        position: relative;
        display: flex;
        flex-direction: row;
    }
    .direccionMap {
        margin: 8% 0px;
        text-align: center;
        width: 100%;
    }
    .boxInfoMap p{
        font-size: 20px;
        margin: 5px;
    }
    .contactMap{
        margin: 0px;
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
    }
    .imgJoyeria2{
        margin-top: -11px;
        display: inline;
        margin-bottom: -11px;
    }

    .contactMap{
        margin-bottom: 0px;
        margin-left: 0px;
        position: relative;
        display: flex;
        flex-direction: column;
        height: 510px;
        margin-top: 0px;
    }
    
    .contactMap:before,
    .contactMap:after{
        content: "";
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        transition: 1s;
    }
    
    .contactMap:before{
        width: 5px;
        height: 0;
        box-shadow: 145px 150px #fff;
    }
    
    .contactMap:hover:before{
        height: 100%;
        box-shadow: 100px 0 #fff;
    }
    
    .contactMap:after{
        width: 0;
        height: 5px;
        box-shadow: 150px 145px #fff;
    }
    
    .contactMap:hover:after{
        width: 100%;
        box-shadow: 0 145px #fff;
    }
    .tituloMap {
        margin-top: 20px;
       
    }

    }
    @media (min-width: 1366px){
        .video-store {
           width: 1366px; 
         }
        .logo-card{
           width: 1366px;
        }
        .contactMap{
            margin-left: -112px;
        }
    }
    @media (min-width: 1440px){
        .video-store {
           width: 1440px; 
         }
        .logo-card{
           width: 1440px;
        }
        .contactMap {
            margin-left: -126px;
        }
    }
    @media (min-width: 2560px){
        .video-store {
            width: 2560px; 
            }
        .logo-card{
            width: 2560px;}
}
