footer {
    background-color: var(--colorGris);
    text-align: center;
    color: var(--colorNegroClaro);
    font-family: rosarivo;
    font-size: 12px;
     /* position: absolute;  */

    width: 100%;
  /* bottom: 0; */
}

footer section a {
    color: var(--colorNegroClaro);
}

.footer__buscador {
    display: none;
}

.footer__redes {
    display: none;
}

.footer__contacto {
    display: none;
}

.footer__iconos ul {
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.footer__iconos img {
    width: 25px;
    margin: 15px;
   
}

.footer__subscripcion input {
    background-color: var(--colorGris);
    border: 0;
    border-bottom: 1px solid var(--colorNegroClaro);



}

.footer__subscripcion {
  
    display: flex;
    flex-direction: column;
    align-items: center;
}

.placeholder {
    text-align: center;
    padding: 10px 0 15px 0;
    margin: 10px;
    font-size: 16px;
    font-family: rosarivo;
    
}
.footer__subscripcion button{
    background-color: var(--colorGris);
    border: solid 1px var(--colorNegroClaro);
    padding: 5px 15px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    font-family: rosarivo;
}
.footer__legales{
    line-height: 28px; 
    margin: 10px;
}
footer h4{
    font-size: 1.25vw !important;
    font-weight: bolder;
}
 footer ul{
padding-left: 0 !important;
}
/*desktop*/
@media (min-width: 768px){
    footer{
        display: flex;
        flex-wrap: wrap;
         line-height: 3vw; 
         font-size: 1vw;
        
    }
    .footer__legales{
      display: block;
      margin:0; 
      margin-top: 0px;
    }
    
    .footer__section__sectionUno{
        width: 25%;

    } 
    
    .footer__section__sectionDos{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        width: 75%;
        text-align: left;
        margin-top: 15px;
        

    }
    .footer__section__sectionTres{
        width: 100%;
        text-align: center;
    }
    .footer__buscador {
        display: block;
       
    }
    .footer__buscador input{
        background-color: var(--colorRosaClaro);
        border: solid 1px var(--colorNegroClaro);
        color: var(--colorNegroClaro);
    }
    .footer__buscador button{
        display: none;
    }
    
    .footer__redes {
        display: block;
    }
    
    .footer__contacto {
        display: block;
    }
    .footer__iconos{
        display: none;
    }
    .footer__legales{

        display: block;
    }
    .footer__legales ul li{
        line-height: 3vw; 
    }
    footer{
        background-color: var(--colorRosaClaro);
    }
    .footer__subscripcion button{
        background-color: var(--colorRosaClaro);
    }
    .footer__subscripcion input{
        background-color: var(--colorRosaClaro);
    }
    .placeholder__buscador::placeholder {
    font-size: 1vw;
    color: var(--colorNegroClaro);
    }
    .placeholder__buscador{
        padding: 3px 3px 3px 8px;
        width: 170px;
        margin: 1.5vw;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }
    .footer__subscripcion input{
        padding-top: 45px;
        width:180px;
        font-size: 1vw;
     
    }
    
    .home__main__lonuevo{
        background-size: contain;
    }
    footer button, input, optgroup, select {
      
        font-size: 10 !important; 
          line-height: 0 !important; 
     }
    .footer__subscripcion button{
      margin-top: 2vh;
        padding: 0.9vw 2vh;
   
      
    }
   
    
@media (min-width: 1024px) {
    .placeholder__buscador{
       
        width: 240px;
       
    }
    .footer__subscripcion input{
        
        width:240px 
     
    }
    
}
}