

    header {
       background-color: var(--colorRosaClaro);
       display: flex;
       flex-direction: row;
       width: 100%;
       /* position: fixed;
      width: 100%;
      top:  0; */
    }
   
    
      
      
   
    #menu {

        display: flex;
        flex-direction: row;
        width: 50%;
        padding: 4px;
        justify-content: space-between;

    }

    #menu button {

        background-color: var(--colorRosaClaro);
        color: var(--colorNegroClaro);
        border: none;
        font-size: 20px;
    }

    .header__nav__button {

        background-color: var(--colorRosaClaro);
        color: var(--colorNegroClaro);
        border: none;
        font-size: 14px;
        border: solid 1px var(--colorNegroClaro);
        border-radius: 5px;
    }
    
    #rotate {
        animation: rotation 8s infinite linear;
      }
      
      @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotatey(360deg);
        }
      }
    .logo a {

        color: var(--colorNegroClaro);
        display: flex;
        flex-direction: center;
        padding: 8.3px;
        justify-content: space-between;
    }
    .icon i{
        margin: 8px 6px;
    }
    


    .header__nav__ul-menuPrincipal a {

        color: var(--colorNegroClaro);
        display: flex;
        justify-content: left;
    }
    .header__menu__usuarios{
        margin-top: 10px;
        display: flex;
        text-align: center;
    }

    .header__nav__ul-menuPrincipal li {
        margin: 3px;
    }

    .btnRegistrate{
        width: 45px;
    }
    .boxIngreso{
        display: flex;
    }

    .ingresoNone{
        display: none;
    }
    .saludoUser{
        display: none;
    }
    .userProfile{
        margin: 0px;
    }


    .header__nav__ul-menuSecundario {

        display: flex;
        flex-direction: row;
        padding: 5px;
        justify-content: space-between;
    } 
    .userProfile{
        margin-right: 10px;
    }
    .navUser{
        margin-right: 10px;
       
    }
    .links{
        display: none;
    }
    .navUser ul{
        
        margin: 6px;
    }

    .header__nav__ul-menuSecundario li {

        margin-inline-end: 4px;
    }

    .header__nav__ul-menuSecundario a {

        color: var(--colorNegroClaro);
        display: flex;
        justify-content: center;
    }

    


    .header__nav {
        width: 100%;
        
    }
    .icon{
        margin: 2px;
        
     }
    
     .header__nav__ul-menuPrincipal {

        display: none;
    }

@media (min-width: 768px) {

    header {

        height: 40px;
        align-items: center;
        font-size: 1vw;
    }

    .icon {

        display: none;

    }
    .listas {

        display: flex;
        flex-direction: row;
        justify-content: space-around;  
    }
    .listas ul{
        margin-bottom: 0px !important
    }
    .navUser {
        margin-right: 74px;
    }
    
    .header__nav__ul-menuPrincipal {

        display: flex;
        flex-direction: row;
        justify-content: center;
        


    }

    
  .header__nav__ul-menuPrincipal li {
        padding: 0px 10px 0px 10px;
    } 
    .boxIngreso{
        display: flex;
        flex-direction: row;
        width: 110px;
        justify-content: space-between;
    }
    .btnRegistrate {
        width: 56px;
    }

    .header__nav__ul-menuSecundario li {

        margin-inline-end: 8px;
    }
    .header__menu__usuarios {
        width: 28px;
        flex-direction: row;
    }
}
    @media (min-width: 1024px) {

        .icon i:hover{
            color: aqua;
            background-color: blueviolet;
        }
    
       .header__menu__usuarios {
        width: 208px;
        flex-direction: row;
        }
        .btnRegistrate {
            width: 120px;
        }
        .boxIngreso{
            width: 194px;
        }
        .navUser {
            margin-right: 40px;
        }
        .userProfile{
            width:58px;
        }
        .saludoUser{
            display: block;
            width: 150px;
        }
        .boxIngreso i{
            display: none;
        }
        .boxIngreso a{
            display: block;
        }
        .ingresoNone{
            display: block;
        }
    }
    @media (min-width: 1366px){
        .boxIngreso{
            width: 270px;
        }
        .userProfile{
            width: 80px;
            margin-left: -60px;
        }
        .header__menu__usuarios {
            width: 258px;
        }
     
    }
    @media (min-width: 1440px) {
        header {
            height: 50px;
        }
      .header__menu__usuarios {
            width: 300px;
            flex-direction: row;
       }
      .btnRegistrate {
            width: 200px;
       }
      .boxIngreso {
            width: 275px;
       }
    
      .userProfile{
            width:80px;
       }
       
}
@media (min-width: 2560px){
    header {
        height: 85px;
    }
    .header__menu__usuarios {
        width: 460px;
    }
    .btnRegistrate {
        width: 186px;
    }
    .boxIngreso{
        width: 430px;
    }
    .saludoUser{
        width: 540px;
    }
    .userProfile{
        width: 144px;
        margin-left: -34px;
    }
}


