

    header {
       background-color: var(--colorRosaClaro);
       display: flex;
       flex-direction: row;
       width: 100%;
       /* position: fixed;
      width: 100%;
      top:  0; */
    }


    #menu {

        display: flex;
        flex-direction: row;
        width: 50%;
        padding: 4px;
        justify-content: space-between;

    }

    #menu button {

        background-color: var(--colorRosaClaro);
        color: var(--colorNegroClaro);
        border: none;
        font-size: 20px;
    }

    .header__nav__button {

        background-color: var(--colorRosaClaro);
        color: var(--colorNegroClaro);
        border: none;
        font-size: 14px;
        border: solid 1px var(--colorNegroClaro);
        border-radius: 5px;
    }

    .logo a {

        color: var(--colorNegroClaro);
        display: flex;
        flex-direction: center;
        padding: 8.3px;
        justify-content: space-between;
    }
    .icon i{
        margin: 8px 6px;
    }


    .header__nav__ul-menuPrincipal a {

        color: var(--colorNegroClaro);
        display: flex;
        justify-content: left;
    }
    .header__menu__usuarios{
        margin-top: 10px;
        display: flex;
        width: 240px;
        font-size: smaller;
        text-align: center;
    }

    .header__nav__ul-menuPrincipal li {
        margin: 3px;
    }

    .btnRegistrate{
        width: 100px;
    }
    .boxIngreso{
        display: flex;
    }


    .header__nav__ul-menuSecundario {

        display: flex;
        flex-direction: row;
        padding: 5px;
        justify-content: space-between;
    } 
    .userProfile{
        margin-right: 10px;
    }
    .navUser{
        margin-right: 60px;
       
    }
    .links{
        display: none;
    }

    .header__nav__ul-menuSecundario li {

        margin-inline-end: 4px;
    }

    .header__nav__ul-menuSecundario a {

        color: var(--colorNegroClaro);
        display: flex;
        justify-content: center;
    }

    


    .header__nav {
        width: 100%;
    }
    .icon{
        margin: 2px;
        
     }
    
     .header__nav__ul-menuPrincipal {

        display: none;
    }

@media (min-width: 768px) {

    header {

        height: 40px;
        align-items: center;
        font-size: 1vw;
    }

    .icon {

        display: none;

    }
    .listas {

        display: flex;
        flex-direction: row;
        justify-content: space-around;   
    }

    
    .header__nav__ul-menuPrincipal {

        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 16px;


    }

    
  .header__nav__ul-menuPrincipal li {
        padding: 0px 10px 0px 10px;
    } 
    .boxIngreso{
        display: flex;
        flex-direction: row;
        width: 110px;
        justify-content: space-between;
    }
    .btnRegistrate {
        width: 56px;
    }

    .header__nav__ul-menuSecundario li {

        margin-inline-end: 8px;
    }
    .header__menu__usuarios {
        width: 185px;
        flex-direction: row;
    }
}
    @media (min-width: 1024px) {
       .header__menu__usuarios {
        width: 208px;
        flex-direction: row;
        }
        .btnRegistrate {
            width: 80px;
        }
        .boxIngreso{
            width: 148px;
        }
    }

    @media (min-width: 1440px) {
    .header__menu__usuarios {
        width: 300px;
        flex-direction: row;
     }
     .btnRegistrate {
        width: 108px;
    }
    .boxIngreso {
        width: 190px;
    }
       
}
@media (min-width: 2560px){
    header {

        height: 85px;
    }
    .header__menu__usuarios {
        width: 460px;
    }
    .btnRegistrate {
        width: 186px;
    }
    .boxIngreso{
        width: 400px;
    }
    .navUser {
        margin-right: 200px;
    }
    .userProfile{
        margin-right: 5%;
    }
}


