body.home {
    font-family: rosarivo;
}

.home a {
    color: var(--colorNegroClaro);
}


#video {
    position: relative;
    height: 50vh;
}

#video video {
    height: 50vh;
    width: 100%;
    object-fit: cover;
}

#video .content {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.home__principal {
    display: flex;

}

.home__main__carrousel {
    display: none;
}

.home__main__atajos {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 11vw 7px 11vw 7px;
    flex-wrap: wrap;
    align-items: center;

}

.home__main__atajos__clickeables {

    border: solid 1px var(--colorRosaFuerte);
}

.home__main__atajos__mas,
.home__main__atajos__clickeables {
    height: 30vw;
    width: 32vw;
    margin-top: 1vh;
    text-align: center;
    padding-top: 1vh;

}

.carousel-item img {

    height: 60vh !important;

}

.carousel {
    width: 100vw;
    height: 60vh;
}

.home__main__atajos__mas button {
    margin-top: 25%;
}

.home__main__atajos h4 {
    font-size: 3vw;
}

.home__main__atajos img {
    width: 15vw;
    height: 15vw;
}

.home__main__atajos button {
    background-color: var(--colorDorado);
    color: white;
    font-family: rosarivo;
    font-size: 12px;
    border: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 75px;

}

.imagenes__fotos img {
    width: 50px;
}

/*tarjetas*/
.home_destacados {
    margin: 5vh;
    text-align: center;
    font-size: 3.5vw;
}

.home_cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tarjeta {
    background-color: var(--colorRosaClaro);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 160px;
    height: 250px;
    border-radius: 20px;
    margin: 10px;
    animation-name: mianimacion;
    animation-duration: 15s;
    animation-iteration-count: infinite;

}

.tarjeta h4 {
    font-size: 16px;
    text-align: center;
    padding: 15px 0px 0px 0px;
}

.tarjeta h6 {

    padding: 1px;
}

.tarjeta img {
    height: 130px;
    width: 115px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.tarjeta p {
    text-align: center;
}

.tarjeta__pie {
    text-align: center;
}

.tarjeta button {
    background-color: var(--colorRosaFuerte);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border: none;
    padding: 10px 20px;
    font-size: 10px;
    border-radius: 10px;
}


.tarjeta__pie button:hover {
    background-color: var(--colorDorado);
}

.home_cards2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tarjeta2 {
    background-color: var(--colorRosaClaro);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 160px;
    height: 260px;
    border-radius: 20px;
    margin: 10px;
    animation-name: mianimacion;
    animation-duration: 15s;
    animation-iteration-count: infinite;

}

.tarjeta2 h4 {
    font-size: 16px;
    text-align: center;
    padding: 15px 0px 0px 0px;
}

.tarjeta2 h6 {

    padding: 0.5px;
}

.tarjeta2 img {
    height: 100px;
    width: 115px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.tarjeta2 p {
    text-align: center;
}

.tarjeta__pie2 {
    text-align: center;
}

.tarjeta2 button {
    background-color: var(--colorRosaFuerte);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border: none;
    padding: 10px 20px;
    font-size: 10px;
    border-radius: 10px;
}


.tarjeta__pie2 button:hover {
    background-color: var(--colorDorado);
}

@keyframes mianimacion1 {
    0% {

        background-color: var(--colorRosaClaro);
    }

    50% {

        background-color: var(--colorRosaFuerte);
    }



    100% {
        background-color: var(--colorRosaClaro);
    }

}

.diamante {
    width: 50%;

}


.arrow__destacados {
    display: none;
}

.home__main__lonuevo {
    background-image: url("/images/home/lonuevo.jpg");
    background-size: cover;
    height: 150px;
    position: relative;
    animation-name: aparecer;
    animation-duration: 20s;


}

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.home__main__lonuevo a {
    position: absolute;
    bottom: 40%;
    left: 25%;
}

.home__main__lonuevo h3 {
    color: white;
    font-weight: lighter;
}

.home__main__cuotas {
    background-color: var(--colorRosaFuerte);
    font-size: 12px;
    padding-top: 4px;

}

.home__main__fuente {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    margin: 10px 7px;
}

.home__main__fuente__texto {
    width: 50%;

    text-align: justify;
    margin: 7px;

}

.caja_diamante {
    width: 45%;
    display: flex;
    margin: auto;
}

.diamante {
    width: 100%;
    display: flex;
    margin: auto;
}

.home__main__fuente__texto h3 {
    font-size: 12px;
}

.home__main__fuente__texto p {
    font-size: 10px;
}

/*-----------tablet--------------------*/
@media (min-width: 460px) {

    .home__main__carrousel__foto {
        display: block;
        width: 50%;
        background-image: url(/images/home/cuello.png);
        background-size: cover;

    }

    .home__principal {
        width: 100%;
    }


    .home__tablet {
        display: flex;
        width: 100%;
        margin: 5vw 0;
    }

    .home__main__atajos {
        width: 50vw;
        margin: 0 0 0 0vw;
        display: grid;
        grid-template-columns: auto auto;
    }

    .home__main__atajos__mas,
    .home__main__atajos__clickeables {
        height: 15vw;
        width: 19vw;
        margin: 1vh 0;
        text-align: center;
        padding: 1vh 0;

    }

    .home__main__atajos img {
        width: 9vw;
        height: 9vw;


    }

    .video__publi {
        margin: 5vw 0;
    }

    .card article {

        flex-direction: row;
        width: 100%;
    }

    .home__main__fuente__texto p {
        font-size: 2vw;


    }

    .home__main__lonuevo {

        height: 200px;
        width: 100%;

    }

    .home__main__lonuevo a {
        width: 50%;
        text-align: center;
    }


}

/*--------------desktop------------*/
@media (min-width:768px) {

    .home__main__lonuevo {

        height: 400px;


    }

    .home__main__fuente__texto {
        text-align: center;
        margin-top: 7%;
    }


    .home__main__fuente__texto p {
        font-size: 1.2vw;
        width: 100%;
        line-height: 3vw;
        padding: 4px;
    }

    .home__main__fuente__texto h3 {
        font-size: 1.5vw;


    }

    .home__main__atajos {
        width: 100vw;
        margin: 0 0 0 0vw;
        display: flex;
    }

    .home__main__atajos__clickeables {
        height: 12vw;
        width: 14vw;
        margin: 1vh 0;
        text-align: center;
        padding: 0 0 2vw 0;
    }

    .home__main__carrousel__foto {
        display: none;
    }

    .home__main__atajos__mas button {
        margin-top: 25%;
        height: 5vw;
        width: 8vw;
        font-size: 1vw;
    }

    .home__main__atajos h4 {
        font-size: 1.5vw;
    }

    .home__main__atajos img {
        width: 10vw;
        height: 10vw;
    }

    .video__publi source {
        height: 50px;
    }

    .home_destacados {

        font-size: 1.5vw;
    }


    .tarjeta {

        width: 180px; 
        height: 280px;

    }

    .tarjeta h4 {
        font-size: 15px!important; 
        text-align: center;
        padding: 25px 0px 0px 0px;
    }

    .tarjeta h6 {

        padding: 3px;
    }

    .tarjeta img {
        height: 150px;
        width: 150px;
        display: flex;
        justify-content: center;
        margin: auto;
    }


    .tarjeta button {

        padding: 7px 15px ;
        font-size: 12px  ;
        border-radius: 10px;
    }






}