.mainEdit {
    background-image: url("/images/register/foto_fondo_diamantes.jpeg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}
.editFormInputFile{
    background-color: var(--colorRosaClaro);
    border: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 80%;
    text-align: center;
    margin: 10px 0px;
    position: relative;
}
.boxEditForm h3{
    text-align: center;
}
.sectionForm{
    display: flex;
    align-items: center;
    justify-content: center;
}

.art{
    display: flex;
    flex-direction: column;
}
.artDos{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.boxEditForm {
    padding: 10px;
}

.mainEdit h2 {
    padding: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
}


.formEdit {
    display: flex;
    font-size: 35px;
    position: relative;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.formEdit label {
    color: var(--colorNegroClaro);
    font-weight: lighter;
    font-size: 15px;
    display:block;
}


.editFormInputName {
    background-color: var(--colorRosaClaro);
    border: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 80%;
    height: 24px;
    margin: 4px 0px;
    position: relative;
}
.editFormInputPrecio {
    background-color: var(--colorRosaClaro);
    border: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 40%;
    height: 24px;
    margin: 4px 0px;
    position: relative;
}
.editFormInputUni{
    background-color: var(--colorRosaClaro);
    border: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 40%;
    height: 24px;
    margin: 4px 0px;
    position: relative;
}

.selectForm {
    background-color: var(--colorRosaClaro);
    border: none;
    padding: 5px;
    width: 80%;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}
.selectFormTalle{
    width: 80%;
    background-color: var(--colorRosaClaro);
    border: none;
    padding: 5px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}
article {
    display: block;
}

.boxButton {
    width: 100%;
    text-align: center;
    margin: 10px 0px;
    position: relative;
}

.buttonEdit {
    width: 30%;
    text-align: center;
    background-color: var(--colorDorado);
    border: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 5px;
    color: white;
    letter-spacing: 1px;
    position: relative;
    font-size: 16px;
}
.labelArea{
    text-align: center;
}
.formEdit area{
    display: flex;
}

.textarea__clase {
    background-color: var(--colorRosaClaro);
    border: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 80%;
    text-align: center;
    margin: 5px 0px;
    position: relative;
}

.register__form-product {
    background-color: var(--colorRosaClaro);
    border: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 10%;
    height: 24px;
    margin: 5px 0px;
    position: relative;
}


@media (min-width: 768px) {
    .mainEdit {
        text-align: center;

    }


    .mainEdit h2 {
        font-size: 20px;
    }

    .boxEditForm {
        width: 30%;
        height: 20%;
        margin-bottom: 20px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
        backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3)
    }

    .formEdit {
        font-size: 40px;
    }

    .formEdit lebel {
        font-size: 16px;
    }

    .editFormInput {
        width: 60%;
        height: 24px;
        margin: 5px 0px;
    }
    
}