:root{
    --colorRosaClaro: #f8edeb; 
    --colorRosaMedio: #fae1dd; 
    --colorRosaFuerte: #fcd5ce; 
    --colorDorado: #dfc37c; 
    --colorGris: #a6a4a4; 
    --colorNegroClaro: rgba(0, 0, 0, 0.89);
    --colorVerdeManzana:#4ECB71;
    --colorDurazno: #DFAC7C;
    --HtmlColor:#EB6218;
    --CssColor:#2965F1;
    --JsColor:#EFD81D;
    --card1Color:rgb(43, 43, 43);
    --card2Color:#fff;
    --card1FontColor:rgb(184, 182, 182);
    --card1FontColorHover:#fff;
    --card2FontColor:#000;
    --timemoving:0.7s;
}