<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body class="home">
  <header>
    <div class="logo">
      <a href="/">
        <i class="fas fa-gem"></i>
      </a>
    </div>
    <nav class="header__nav">
      <div id="menu">
        <button>
          <i class="fas fa-bars"></i>
        </button>
      </div>
      <div class="listas">
        <ul class="header__nav__ul-menuPrincipal">
          <li><a href="/">HOME</a></li>
          <li><a href="/gifts">GIFTS</a></li>
          <li><a href="/products">PRODUCTS</a></li>
          <li><a href="/find">FIND A STORE</a></li>
          <li><a href="/weAre">WE ARE</a></li>
        </ul>
    </nav>
    <nav>
      <ul class="header__nav__ul-menuSecundario">
        <li>
          <a href="/login"><i class="fas fa-user"></i></a>
        </li>
        <li>
          <a href="/productCart"><i class="fas fa-shopping-bag"></i></a>
        </li>
        <li>
          <a href="/register"><i class="fas fa-sign-in-alt"></i></a>
        </li>
        <li><button class="header__nav__button">EN</button></li>
      </ul>
      </div>
    </nav>
  </header>
  <main class="home__main">

    <div id="video">
      <video loop muted autoplay poster="">
        <source src="/video/presentacion.mp4" type="video/mp4">
      </video>
      <div class="content"></div>
    </div>
    <div class="home__tablet">
      <div class="home__principal">

        <div class="home__main__carrousel__foto">
        </div>

        <section class="home__main__atajos">
          <article class="home__main__atajos__clickeables">
            <a href="">
              <img src="images/home/atajos/collar.jpeg" alt="collar">
              <h4>Collares</h4>
            </a>
          </article>
          <article class="home__main__atajos__clickeables">
            <img src="/images/home/atajos/pulsera.jpeg" alt="pulsera">
            <h4>Pulseras</h4>
          </article>
          <article class="home__main__atajos__clickeables">
            <img src="/images/home/atajos/anillo.jpeg" alt="anillo">
            <h4>Anillos</h4>
          </article>
          <article class="home__main__atajos__clickeables">
            <img src="/images/home/atajos/aritos.jpeg" alt="aritos">
            <h4>Aritos</h4>
          </article>
          <article class="home__main__atajos__clickeables">
            <img src="/images/home/atajos/reloj.jpeg" alt="reloj">
            <h4>Relojes</h4>
          </article>

          <article class="home__main__atajos__mas">
            <button>Ver todo en joyería</button>
          </article>

        </section>
      </div>
    </div>
    <video class="video__publi" loop muted autoplay poster="">
      <source src="/video/video2.mp4" type="video/mp4">
    </video>

    <section class="card">
      <h3>DESTACADOS</h3>
      <article>
        <div class="tarjeta tarjeta1">
          <h4>Adonis</h4>
          <div class="home__contenedor">
            <p>10% off</p>
            <img src="/images/home/adonis.jpg" alt="destacados1">
          </div>
          <div class="tarjeta__pie">
            <h6>$50.000</h6>
            <button><a href="/productDetail">ver más</a></button>
          </div>
        </div>
        <div class="tarjeta tarjeta2">
          <h4>Sparkling</h4>
          <div class="home__contenedor">
            <p>5% off</p>
            <img src="/images/home/snake2.jpg" alt="destacados1">
          </div>
          <div class="tarjeta__pie">
            <h6>$35.000</h6>
            <button><a href="/productDetail">ver más</a></button>
          </div>
        </div>
        <div class="tarjeta tarjeta1">
          <h4>Eternity</h4>
          <div class="home__contenedor">
            <p>8% off</p>
            <img src="/images/home/anto.jpg" alt="destacados1">
          </div>
          <div class="tarjeta__pie">
            <h6>$45.000</h6>
            <button><a href="/productDetail">ver más</a></button>
          </div>
        </div>


        <div class="tarjeta tarjeta2">
          <h4>Chameleon</h4>
          <div class="home__contenedor">
            <p>8% off</p>
            <img src="/images/home/N102147_03.jpg" alt="destacados1">
          </div>
          <div class="tarjeta__pie">
            <h6>$50.000</h6>
            <button><a href="/productDetail">ver más</a></button>
          </div>
        </div>
      </article>
    </section>
    <section class="home__main__fuente">
      <div class="home__main__fuente__texto">
        <h3>De la fuente</h3>
        <p>La fabricación artesanal de los mejores diamantes del munco comienza con saber de dónde vienen. Estamos
          orgullosos de rastrear el 100% de nuestros diamantes en bruto hasta minas y fuentes conocidas</p>
      </div>
      <video class="diamante" loop muted autoplay poster="">
        <source src="/video/diamondring.mp4" type="video/mp4">
      </video>
      <!-- <img class="home__main__fuente__img" src="/images/home/diamonds-g6718b8062_1920.jpg" alt=""> -->

    </section>
    <section class="home__main__lonuevo">
      <a href="">
        <h3>Lo nuevo de Aphrodite</h3>
      </a>
    </section>


    <section class="home__main__cuotas">
      <marquee behavior="" direction="" scrollamount="3"> PAGÁ EN 3 Y 6 CUOTAS SIN INTERES CON VISA, MASTER Y AMEX DESDE
        15.000$</marquee>
    </section>

  </main>

  <footer>
    <section class="footer__section__sectionUno">
      <form class="footer__buscador" action="">
        <input class="placeholder__buscador" type="text" placeholder="Buscar" />
        <button type="submit"></button>
      </form>
      <form class="footer__subscripcion" action="">
        <input class="placeholder" type="email" placeholder="Correo electrónico" required />
        <button type="submit">Suscribirse</button>
      </form>
    </section>

    <section class="footer__section__sectionDos">
      <article class="footer__redes">

        <h4>Redes</h4>
        <ul>

          <li><a href="">Facebook</a></li>
          <li><a href="">Instagram</a></li>
          <li><a href="">Twitter</a></li>
        </ul>
      </article>
      <article class="footer__contacto">
        <h4>Contacto</h4>
        <ul>
          <li><a href="">Teléfono</a></li>
          <li><a href="">Mail</a></li>
        </ul>
      </article>

      <article class="footer__legales">

        <h4>Legales</h4>
        <ul>
          <li><a href="">Preguntas frecuentes</a></li>
          <li><a href="">Cancelación, Cambios y Devoluciones</a></li>
          <li><a href="">Términos y Condiciones</a></li>
        </ul>
      </article>
      <article class="footer__iconos">
        <ul>
          <li>
            <a href=""><img src="/images/facebook.png" alt="" /></a>
          </li>
          <li>
            <a href=""><img src="/images/gorjeo.png" alt="" /></a>
          </li>
          <li>
            <a href=""><img src="/images/gmail.png" alt="" /></a>
          </li>
          <li>
            <a href=""><img src="/images/instagram.png" alt="" /></a>
          </li>
          <li>
            <a href=""><img src="/images/whatsapp.png" alt="" /></a>
          </li>
        </ul>
      </article>
    </section>
    <section class="footer__section__sectionTres">
      <div>© Aphrodite 2022</div>
    </section>
  </footer>
</body>

</html>