<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header>
        <div class="logo">
            <a href="/">
                <i class="fas fa-gem"></i>
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/gifts">Gifts</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/find">Find a Store</a></li>
                <li><a href="/weAre">We Are</a></li>
            </ul>
            <ul>
                <li><a href=""><i class="fas fa-user"></i></a></li>
                <li><a href=""><i class="fas fa-shopping-bag"></i></a></li>
                <li><a href=""><i class="fas fa-sign-in-alt"></i></a></li>
            </ul>
            <button>EN</button>
        </nav>
    </header>
</body>

</html>