<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">
              <i class="fas fa-gem"></i>
            </a>
          </div>
                  <nav class="header__nav">
                        <div id="menu">
                            <button>
                                <i class="fas fa-bars"></i>
                            </button>
                        </div>
                        <div class="listas">
                            <ul class="header__nav__ul-menuPrincipal">
                                <li><a href="/">HOME</a></li>
                                <li><a href="/gifts">GIFTS</a></li>
                                <li><a href="/products">PRODUCTS</a></li>
                                <li><a href="/find">FIND A STORE</a></li>
                                <li><a href="/weAre">WE ARE</a></li>
                            </ul>
                    </nav>
                    <nav>
                        <ul class="header__nav__ul-menuSecundario">
                            <li>
                                <a href="/login"><i class="fas fa-user"></i></a>
                            </li>
                            <li>
                                <a href="/productCart"><i class="fas fa-shopping-bag"></i></a>
                            </li>
                            <li>
                                <a href="/register"><i class="fas fa-sign-in-alt"></i></a>
                            </li>
                            <li><button class="header__nav__button">EN</button></li>
                        </ul></div>
                    </nav>
    </header>

    <main class="main__login">
         <form action="">
           <div>
             <label for="nombre">Nombre</label>
             <br>
             <input class="login__nombre" type="mail" id="nombre" name="nombre">
           </div>
           
           <div>
             <label for="password">Contraseña</label>
             <br>
             <input type="password" name="password" id="password">
           </div>
           <div>
             <input type="radio" name="remember" id="remember">
             <label for="remember">Recordarme</label>
           </div>
           <div>
             <button type="submit">Login</button>
           </div>
           <div>
             <label for="register"> ¿Todavía no tenés cuenta? </label>
             <br>
             <button type="register"> <a href="/register">Registrarse</a></button>
           </div>
         </form>

    </main>
    <footer>
      <section class="footer__section__sectionUno">
        <form class="footer__buscador" action="">
          <input class="placeholder__buscador" type="text" placeholder="Buscar" />
          <button type="submit"></button>
        </form>
        <form class="footer__subscripcion" action="">
          <input class="placeholder" type="email" placeholder="Correo electrónico" required />
          <button type="submit">Suscribirse</button>
        </form>
      </section>
  
      <section class="footer__section__sectionDos">
        <article class="footer__redes">
  
          <h4>Redes</h4>
          <ul>
  
            <li><a href="">Facebook</a></li>
            <li><a href="">Instagram</a></li>
            <li><a href="">Twitter</a></li>
          </ul>
        </article>
        <article class="footer__contacto">
          <h4>Contacto</h4>
          <ul>
            <li><a href="">Teléfono</a></li>
            <li><a href="">Mail</a></li>
          </ul>
        </article>
  
        <article class="footer__legales">
  
          <h4>Legales</h4>
          <ul>
            <li><a href="">Preguntas frecuentes</a></li>
            <li><a href="">Cancelación, Cambios y Devoluciones</a></li>
            <li><a href="">Términos y Condiciones</a></li>
          </ul>
        </article>
        <article class="footer__iconos">
          <ul>
            <li>
              <a href=""><img src="/images/facebook.png" alt="" /></a>
            </li>
            <li>
              <a href=""><img src="/images/gorjeo.png" alt="" /></a>
            </li>
            <li>
              <a href=""><img src="/images/gmail.png" alt="" /></a>
            </li>
            <li>
              <a href=""><img src="/images/instagram.png" alt="" /></a>
            </li>
            <li>
              <a href=""><img src="/images/whatsapp.png" alt="" /></a>
            </li>
          </ul>
        </article>
      </section>
      <section class="footer__section__sectionTres">
        <div>© Aphrodite 2022</div>
      </section>
    </footer>
</body>
</html>