<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ProductDetail</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
</head>

<body class="product__detail">
  <header>
    <div class="logo">
      <a href="/">
        <i class="fas fa-gem"></i>
      </a>
    </div>
    <nav class="header__nav">
      <div id="menu">
        <button>
          <i class="fas fa-bars"></i>
        </button>
      </div>
      <div class="listas">
        <ul class="header__nav__ul-menuPrincipal">
          <li><a href="/">HOME</a></li>
          <li><a href="/gifts">GIFTS</a></li>
          <li><a href="/products">PRODUCTS</a></li>
          <li><a href="/find">FIND A STORE</a></li>
          <li><a href="/weAre">WE ARE</a></li>
        </ul>
    </nav>
    <nav>
      <ul class="header__nav__ul-menuSecundario">
        <li>
          <a href="/login"><i class="fas fa-user"></i></a>
        </li>
        <li>
          <a href="/productCart"><i class="fas fa-shopping-bag"></i></a>
        </li>
        <li>
          <a href="/register"><i class="fas fa-sign-in-alt"></i></a>
        </li>
        <li><button class="header__nav__button">EN</button></li>
      </ul>
      </div>
    </nav>
  </header>
  <br>

  <main>

    <div class="desktop__formato">
    <section class="detalle__imagenes">

      <div class="collar1">
        <img src="/images/detalleProducto/collar  1.jpeg" alt="collar 1">
        <span class="iconify arrow_left" data-icon="dashicons:arrow-left-alt2"></span>
        <span class="iconify arrow_right" data-icon="dashicons:arrow-right-alt2"></span>
      </div>
      <div class="detalle__carrusel">
        <img src="/images/detalleProducto/redondel.png" alt="redondel">
        <img src="/images/detalleProducto/redondel.png" alt="redondel">
        <img src="/images/detalleProducto/redondel.png" alt="redondel">
        <img src="/images/detalleProducto/redondel.png" alt="redondel">
      </div>

      <article class="imagenes__chicas">
        <div>
          <img src="/images/detalleProducto/collar  1.jpeg" alt="collar 1">
        </div>
        <div>
          <img src="/images/detalleProducto/collar 2.jpeg" alt="collar 2">
        </div>
        <div>
          <img src="/images/detalleProducto/collar 3.jpeg" alt="collar 3">
        </div>
      </article>
    </section>

    <section class="product__detail__interarte">
        <h3>También puede interesarte ...</h3>
        <article class="interesarte__fotos">
          <span class="iconify arrow__gruesa__left" data-icon="bx:left-arrow"></span>
          <img src="/images/detalleProducto/interesarte1.jpeg" alt="interesarte1">
          <img src="/images/detalleProducto/interesarte2.jpeg" alt="interesarte2">
          <img src="/images/detalleProducto/interesarte3.jpeg" alt="interesarte3">
          <span class="iconify arrow__gruesa__right" data-icon="bx:right-arrow"></span>
        </article>
      
    </section>
  </div>

    <section class="detalle__desk">
      <section class="detalle__producto">
        <article class="detalle__producto__art1">
          <h2>Chameleon Necklace</h2>
          <h3>$25.000</h3>
          <div class="detalle__estrella">
            <img src="/images/estrella.png" alt="estrella">
            <img src="/images/estrella.png" alt="estrella">
            <img src="/images/estrella.png" alt="estrella">
            <img src="/images/estrella.png" alt="estrella">
            <img src="/images/estrella.png" alt="estrella">

          </div>

          <hr>

          <p>talla 45cm</p>
          <div class="botoncm"><button> 45cm </button></div>
        </article>

        <article class="detalle__producto__art2">

          <div class="comprar"><button>Comprar</button></div>
          <div class="deseos"><button>Lista de deseos
              <span class="iconify" data-icon="bx:diamond"></span> </button></div>
        </article>
      </section>


      <section class="detalle__envios">
        <div><span class="iconify camion" data-icon="mdi:truck-fast-outline"></span></div>
        <article>
          <h3>Exclusivo CABA - Llega el lunes 21 de mayo</h3>
          <p>Comprando entre las próximas <span>2h 24 minutos</span> </p>

        </article>
      </section>
      <section class="detalle__medios__pago">
        <p>MEDIOS DE PAGO</p>
        <div class="tarjetas__credito__detail">
          <div class="visa"><img src="/images/mediosPago/visa.png" alt="visa"></div>
          <div class="amer"><img src="/images/mediosPago/amer.png" alt="amer"></div>
          <div class="master"><img src="/images/mediosPago/master.png" alt="master"></div>
        </div>
      </section>

      <section class="detalle__productos">
        <article class="detalle__productos__descripcion">
          <h3> Descripción </h3>
          <div><span class="iconify menos" data-icon="akar-icons:minus"></span></div>
          <hr>
          <p>Sofisticada y glamurosa, esta joya se enrosca al rededor del cuello y sorprende por la preciosa belleza de
            las escamas y por la distintiva sinuosidad de la serpiente </p>

        </article>
        <article class="detalle__productos__caracteristicas">
          <h3>Características </h3>
          <div><span class="iconify menos" data-icon="akar-icons:minus"></span></div>
          <div><span class="iconify mas" data-icon="akar-icons:plus"></span></div>

          <hr>

          <p>Detalle central: 5.05cts </p>
          <p>Material: oro blanco de 18 quilates</p>
          <p>Peso total en quilates: 122.05cts</p>
        </article>
        <article class="detalle__productos__envios">
          <h3>Envíos y Devoluciones</h3>
          <div><span class="iconify menos" data-icon="akar-icons:minus"></span></div>
          <div><span class="iconify mas" data-icon="akar-icons:plus"></span></div>
          <hr>
          <p>Podes realizar envíos y devoluciones dentro de las 24 horas de recibido el paquete, y contamos con nuestra
            propia seguridad para el manejo del mismo</p>
        </article>
      </section>
    </section>
    
  </main>

  <footer>
    <section class="footer__section__sectionUno">
      <form class="footer__buscador" action="">
        <input class="placeholder__buscador" type="text" placeholder="Buscar" />
        <button type="submit"></button>
      </form>
      <form class="footer__subscripcion" action="">
        <input class="placeholder" type="email" placeholder="Correo electrónico" required />
        <button type="submit">Suscribirse</button>
      </form>
    </section>

    <section class="footer__section__sectionDos">
      <article class="footer__redes">

        <h4>Redes</h4>
        <ul>

          <li><a href="">Facebook</a></li>
          <li><a href="">Instagram</a></li>
          <li><a href="">Twitter</a></li>
        </ul>
      </article>
      <article class="footer__contacto">
        <h4>Contacto</h4>
        <ul>
          <li><a href="">Teléfono</a></li>
          <li><a href="">Mail</a></li>
        </ul>
      </article>

      <article class="footer__legales">

        <h4>Legales</h4>
        <ul>
          <li><a href="">Preguntas frecuentes</a></li>
          <li><a href="">Cancelación, Cambios y Devoluciones</a></li>
          <li><a href="">Términos y Condiciones</a></li>
        </ul>
      </article>
      <article class="footer__iconos">
        <ul>
          <li>
            <a href=""><img src="/images/facebook.png" alt="" /></a>
          </li>
          <li>
            <a href=""><img src="/images/gorjeo.png" alt="" /></a>
          </li>
          <li>
            <a href=""><img src="/images/gmail.png" alt="" /></a>
          </li>
          <li>
            <a href=""><img src="/images/instagram.png" alt="" /></a>
          </li>
          <li>
            <a href=""><img src="/images/whatsapp.png" alt="" /></a>
          </li>
        </ul>
      </article>
    </section>
    <section class="footer__section__sectionTres">
      <div>© Aphrodite 2022</div>
    </section>
  </footer>
</body>

</html>