<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

<body class="categories_body">
    <%- include('./partials/header') %>
<main main_category>
 
        <form action="" id="form" method="POST" class="form_category">
            <h2>AGREGAR CATEGORÍA</h2>
            <span class="alert-products" id="errorForm"></span>
            <div>
                <label for="name">Nombre</label>
                <input type="text" name="name" id="name">
            </div>
                <span class="alert-products" id="errorName"><%= locals.errors && errors.name ? errors.name.msg : null %> </span>
            <div>
                <button type="submit">Agregar</button>
            </div>
        </form>
</main>
        

    
   
    <script src="/JavaScript/categoryValidator.js"></script>
    <%- include('./partials/footer') %>

</body>

</html>