<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 

<body>
    <%- include('./partials/header') %>
    <main class="mainEdit">
        <h2>Agregar producto</h2>
        <section class="sectionForm">
            <form class="boxEditForm" method="POST" action="" enctype="multipart/form-data">
                <article class="art">
                    <div class="formEdit">
                        <label for="nameProduct">Nombre:</label>
                        <input class="editFormInputName" type="text" id="name" name="name">
                    </div>
                    <div class="formEdit">
                        <label class="formSelectOption" for="category">Categoria:</label>
                        <select class="selectForm" name="category" id="category">
                            <option hidden selected>Seleccione uno:</option>
                            <option value="pulseras">Pulseras</option>
                            <option value="collares">Collares</option>
                            <option value="anillos">Anillos</option>
                            <option value="relojes">Relojes</option>
                            <option value="aritos">Aritos</option>
                            
                        </select>
                    </div>  
                </article>
                    <div class="formEdit">
                        <label class="formSelectOption" for="materials"> Material:</label>
                        <select class="selectForm" name="materials" id="materials">
                            <option hidden selected>Seleccione uno:</option>
                            <option value="oro">Oro</option>
                            <option value="plata">Plata</option>
                            <option value="fantasia">Fantasía</option>
                        </select>
                    </div>


                <article class="artDos">
                
                    <div class="formEdit">
                        <label for="uni">Unidades:</label>
                        <input class="editFormInputUni" type="number" name="unidades" id="unidades">
                    </div>

                    <div class="formEdit">
                        <label for="price">Precio:</label>
                        <input class="editFormInputPrecio" type="number" name="price" id="price">
                    </div>

                </article>
                <article>
                    <div class="formEdit">
                        <label class="formSelectOption" for="size">Talles</label>
                        <select class="selectFormTalle" name="size" id="size">
                            <option hidden selected>Seleccione uno:</option>
                            <option value="xl">XL</option>
                            <option value="l">L</option>
                            <option value="m">M</option>
                            <option value="s">S</option>
                            <option value="xs">XS</option>
                        </select>
                    </div>
                </article>
                <article class="art">

                    <div class="formEdit">
                        <label class="labelArea" for="description">Descripción:</label>

                        <textarea class="textarea__clase" name="description" rows="10" cols="50"
                            placeholder="Descripción del producto..."></textarea>
                    </div>
                    <div class="formEdit">
                        <label for="nameProduct">Cargar Imágen</label>
                        <input class="editFormInputFile" type="file" id="image" name="image" accept="image/*">
                    </div>
                    <div class="boxButton">
                        <button class="buttonEdit" type="submit">Enviar</button>
                    </div>
                </article>
            </form>
        </section>
        <%- include('./partials/footer') %>
</body>


</html>