<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %> 
<body>
  <%- include('./partials/header') %> 
  <main class="mainMap">
    <marquee> Aphrodite, Artesanía de primera clase con oro auténtico sólo para tí.</marquee>
    <section class="boxImg">

       
        <section class="boxFrase">
          <div>
            <video loop muted autoplay poster="">
              <source src="/video/vidriera.mp4" type="video/mp4" />
            </video>
          </div>
          <div class="logo-card">
             <div class="logoFind">
                <a href="/">
                 <i id="rotate" class="fas fa-gem"></i>
                </a>
                <h5>¿Nuestro trabajo superará tus expectativas!</h5>
             </div>
          </div>
            
        </section>
       </section> 
       <section class="boxInfoMap">
        <div class="imgJoyeria2">
          <img src="/images/weAre/joyeria3Map.jpg" style="width:100%">
         </div>
         <div class="contactMap">
          <div class="tituloMap">
            <div class="img-findStore">
              
            </div>
          <h4 class="h4Map">Aphrodite</h4>
           <h5 class="h5Map">Te esperamos en nuestro local:</h5>
        </div>
         <div class="direccionMap">
           <p>San Isidro</p>  
           <p>Gral. Manuel Belgrano 279, </p>
           <p>Provincia de Buenos Aires</p>
           <p>Horarios de 10 a 22hs</p>
         </div> 
         <div class="contactMap">
           <p>Tel: 4664 1234</p>
           <p>info@Aphrodite.com</p>
           <p>Whatsapp: +54 9 11 21212121</p>
         </div>
         </div>
     </section>
      <div class="map-responsivo">
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26313.724057803604!2d-58.528589849999996!3d-34.47205685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb03cd891437f%3A0xab3b49e671350275!2sSan%20Isidro%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1652303320278!5m2!1ses-419!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
  </main>

  <%- include('./partials/footer') %> 
</body>
</html>