<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>

      <main class="main__gifts">
        <div class="gifts">
          <img class="fondo_principal_gifts" src="/images/home/gifts/conjunto pink 3.jpg" alt="">
          <section class="home__main__cuotas">
            <marquee behavior="" direction="" scrollamount="3">
              Los mejores regalos para esas ocasiones especiales</marquee>
          </section>
          
          
        </div>

        <div class="contenedor_gifts">
          <div class="contenedor_tarjeta_gifts">
            <a href="/product">
              <figure>
                <img src="/images/home/gifts/gift 11.jpg" class="frontal" alt="">
                <figcaption class="trasera">
                  <h2 class="gifts">Aniversarios</h2>
                  <hr class="gifts">
                  <p class="gifts">Ya sea por medio de un collar repleto de piedras exquisitas, un llamativo anillo,
                    símbolo del amor eterno, o un reloj que capta la atención, estas piezas están diseñadas para
                    llevarlas y atesorarlas de por vida.</p>
                </figcaption>
              </figure>
            </a>

          </div>
          <div class="contenedor_tarjeta_gifts">
            <a href="/product">
              <figure>
                <img src="/images/home/gifts/gift 6.jpg" class="frontal" alt="">
                <figcaption class="trasera">
                  <h2 class="gifts">Cumpleaños</h2>
                  <hr class="gifts">
                  <p class="gifts">Marcá un hito especial o celebrá una fecha importante con un collar, un reloj, un
                    accesorio de cristal único o una figura. Lográ que sea un día sencillamente inolvidable.</p>
                </figcaption>
              </figure>
            </a>

          </div>
          <div class="contenedor_tarjeta_gifts">
            <a href="/product">
              <figure>
                <img src="/images/home/gifts/gifts3.jpg" class="frontal" alt="">
                <figcaption class="trasera">
                  <h2 class="gifts">Graduación</h2>
                  <hr class="gifts">
                  <p class="gifts">Que mejor que un presente para celebrar ese largo camino que con tanta dedicación
                    logro culminar. Has que siempre recuerde ese día con un precioso collar o una de nuestras delicadas
                    pulseras.</p>
                </figcaption>
              </figure>
            </a>

          </div>
        </div>

      </main>

      <%- include('./partials/footer') %>
  </body>

</html>