<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head') %> 
<body>
  <%- include('./partials/header') %> 

    <main class="main__login">
         <form action="../routes/users.js" method="POST">
           <div>
             <label for="nombre">Email</label>
             <br>
             <input class="login__nombre input__comun" type="email" id="email" name="nombre">
           </div>
           <small class="textDanger"><%= locals.errors && errors.email ? errors.email.msg : null %></small>
           
           <div>
             <label for="password">Contraseña</label>
             <br>
             <input class="input__comun" type="password" name="password" id="password">
           </div>
           <div>
             <input type="radio" name="remember" id="remember">
             <label class="login__recordarme" for="remember">Recordarme</label>
           </div>
           <div>
             <button class="boton__login" type="submit">Login</button>
           </div>
           <div class="boton__registrar">
             <label for="register"> ¿Todavía no tenés cuenta? </label>
             <br>
             <button class="boton__login__registrar" type="register"> <a href="/register">Registrarse</a></button>
           </div>
         </form>

    </main>
    <%- include('./partials/footer') %> 
</body>
</html>