<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>


  
    
    <body >  
        <%- include('./partials/header') %>
        <div class="cards-list">
  
            <a href="/users/admin">
                  <div class="cardAdmin 1">
              <div class="card_imageAdmin"> <img src="/images/10704985.webp" /> </div>
              <div class="card_titleAdmin title-white">
                <p>Usuarios</p>
              </div>
            </div>  
            </a>
        
            <a href="">
               <div class="cardAdmin 2">
                <div class="card_imageAdmin"> <img src="/images/productos.jpg" /> </div>
                <div class="card_titleAdmin title-white">
                    <p>Productos</p>
                  </div>
              </div>  
            </a>
           
            <a href="">
                     <div class="cardAdmin 3">
                <div class="card_imageAdmin"> <img src="/images/categorias.webp" /> </div>
                <div class="card_titleAdmin title-white">
                    <p>Categorias</p>
                  </div>
              </div>   
            </a>
      
              
             
            </div>
    </body>
    
    <%- include('./partials/footer') %>
</body>

</html>