<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>

    <main class="main_weare">
        <section class="section_weare">
            <div id="slider">
                <figure>
                    <img src="/images/Card_burgos.jpg" alt="card_weare1">
                    <img src="/images/Card_orbes.jpg" alt="card_weare2">
                    <img src="/images/Card_ramirez.jpg" alt="card_weare3">


                </figure>

        </section>
    </main>

    <%- include('./partials/footer') %>
</body>

</html>