<header>
    <div class="logo">
      <a href="/">
        <i class="fas fa-gem"></i>
      </a>
    </div>
    <nav class="header__nav">
      <div id="menu">
        <button>
          <i class="fas fa-bars"></i>
        </button>
      </div>
      <div class="listas">
        <ul class="header__nav__ul-menuPrincipal">
          <li><a href="/">HOME</a></li>
          <li><a href="/product/gifts">GIFTS</a></li>
          <li><a href="/product">PRODUCTS</a></li>
          <li><a href="/find">FIND A STORE</a></li>
          <li><a href="/weAre">WE ARE</a></li>
        </ul>
    </nav>
    <nav>
      <ul class="header__nav__ul-menuSecundario">
        <li>
          <a href="/users/login"><i class="fas fa-user"></i></a>
        </li>
        <li>
          <a href="/product/cart"><i class="fas fa-shopping-bag"></i></a>
        </li>
        <li>
          <a href="/users/register"><i class="fas fa-sign-in-alt"></i></a>
        </li>
        <li><button class="header__nav__button">EN</button></li>
      </ul>
      </div>
    </nav>
  </header>