<header>
    <div class="logo">
      <a href="/">
        <i class="fas fa-gem"></i>
      </a>
    </div>
    <nav class="header__nav">
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
      <div class="listas">
        <ul id="links" class="header__nav__ul-menuPrincipal">
          <li><a href="/">HOME</a></li>
          <li><a href="/product/gifts">GIFTS</a></li>
          <li><a href="/product">PRODUCTS</a></li>
          <li><a href="/find">FIND A STORE</a></li>
          <li><a href="/weAre">WE ARE</a></li>
         <% if (locals.userLogin?.rol ==="admin" ) { %>
          <li><a href="/users/menuAdmin">MENU ADMIN</a></li>
        <% } %>
        
         
        </ul>
    </nav>
    <nav class="navUser">
      <ul class="header__menu__usuarios">
        
        <div class="boxIngreso">
        <% if (!locals.userLogin) { %>
         
            <li class="btnRegistrate">
              <a href="/users/register"><i class="fas fa-user"></i></a>
              <a class="ingresoNone" href="/users/register">REGISTRATE</a>
            </li>
            <li class="ingresaBtn">
              <a href="/users/login"><i class="fas fa-sign-in-alt"></i></a>
              <a class="ingresoNone" href="/users/login">
              INGRESA</a>
            </li>
          
        <% }else{ %>
          
             <li class="saludoUser">HOLA <%= locals.userLogin.name %></li>

             <a class="userProfile" href="/users/profile"><i class="fas fa-user-circle"></i></a>
            <li class="ingresoNone" ><a class="userProfile" href="/users/profile">MI PERFIL|</a></li>

            <a href="/users/logout"><i class="fas fa-sign-out-alt"></i></a>
            <li class="ingresoNone" class="salir"><a class="salir" href="/users/logout">SALIR</a></li>
         
        <% } %>
      </div>
       </ul>
 
      </div>
    </nav>
    <script src="/JavaScript/header.js"></script>
  </header>