<header>
    <div class="logo">
      <a href="/">
        <i class="fas fa-gem"></i>
      </a>
    </div>
    <nav class="header__nav">
      <div id="menu">
        <button>
          <i class="fas fa-bars"></i>
        </button>
      </div>
      <div class="listas">
        <ul class="header__nav__ul-menuPrincipal">
          <li><a href="/">HOME</a></li>
          <li><a href="/product/gifts">GIFTS</a></li>
          <li><a href="/product">PRODUCTS</a></li>
          <li><a href="/find">FIND A STORE</a></li>
          <li><a href="/weAre">WE ARE</a></li>
         <% if (locals.userLogin?.rol ==="admin" ) { %>
          <li><a href="/users/menuAdmin">MENU ADMIN</a></li>
        <% } %>
        
         
        </ul>
    </nav>
    <nav class="navUser">
      <ul class="header__menu__usuarios">
        
        <div class="boxIngreso">
        <% if (!locals.userLogin) { %>
         
            <li class="btnRegistrate"><a href="/users/register">REGISTRATE</a></li>
            <li class="ingresaBtn"><a href="/users/login">INGRESA</a></li>
          
        <% }else{ %>
          
             <li class="saludoUser">HOLA <%= locals.userLogin.name %></li>
            <li class="userProfile"><a href="/users/profile">MI PERFIL|</a></li>
            <li class="salir"><a href="/users/logout">SALIR</a></li>
         
        <% } %>
      </div>
       </ul>
 
      </div>
    </nav>
  </header>